<form (ngSubmit)="requestLogin()" [formGroup]="loginForm">
  <p-panel header="Ingresa tus credenciales">
    <div
      class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid"
      style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2 mb-1">Usuario:</div>
        <div class="ui-grid-col-6">
          <input
            pInputText
            type="text"
            formControlName="user"
            placeholder="Ej: jonathan"
            class="form-control mb-3"
            name="user" />
        </div>
        <div class="ui-grid-col-4">
          <div
            [hidden]="
              loginForm.controls['user'].valid ||
              !loginForm.controls['user'].dirty
            "
            class="text-red-500">
            Usuario es requerido
          </div>
        </div>
      </div>
      <div class="ui-grid-row mt-3">
        <div class="ui-grid-col-2 mb-1">Contraseña:</div>
        <div class="ui-grid-col-6">
          <input
            pInputText
            type="password"
            formControlName="password"
            placeholder="Ej: k3dhu4"
            class="form-control mb-3"
            name="password" />
        </div>
        <div class="ui-grid-col-4">
          <div
            [hidden]="
              loginForm.controls['password'].valid ||
              !loginForm.controls['password'].dirty
            "
            class="text-red-500">
            Contraseña es requerida
          </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"></div>
        <div class="ui-grid-col-6">
          <button
            pButton
            type="submit"
            label="Acceder"
            [loading]="loading"
            [disabled]="!loginForm.valid"></button>
        </div>
        <div class="ui-grid-col-4"></div>
      </div>
    </div>
    <p *ngIf="error" class="text-red-500">{{ error }}</p>
  </p-panel>
</form>
