<div class="p-2 width-maximo">
  <!-- <h2>Este es tu listado de solicitudes:</h2> -->
  <p-menubar [model]="menuItems()">
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        <p-button
          [icon]="searchTermIcon"
          (onClick)="changeSearchTerm()"></p-button>
        <input
          type="text"
          id="search"
          pInputText
          [(ngModel)]="searchInputValue"
          [placeholder]="searchTerm"
          class="w-auto" />
        <p-button icon="pi pi-search" (onClick)="search()"></p-button>
      </div>
    </ng-template>
  </p-menubar>
  <section class="grid">
    @if (requests().length === 0) {
      <p class="center">No hay solicitudes pendientes</p>
    } @else {
      <p-dataView
        #dv
        class="m-2"
        [value]="requests()"
        [sortField]="sortField"
        [sortOrder]="sortOrder">
        <ng-template pTemplate="list" let-requests>
          <div class="grid grid-nogutter">
            <div
              class="col-12"
              *ngFor="let item of requests; let first = first"
              class="col-12">
              <div
                class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3"
                [ngClass]="{ 'border-top-1 surface-border': !first }">
                <div class="md:w-10rem relative">
                  <p-tag
                    [severity]="getSeverity(item)"
                    [style.left.px]="4"
                    [value]="item.loan_request_status"
                    [style.top.px]="4" />
                </div>
                <div
                  class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                  <div
                    class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                    <div>
                      <span class="font-medium text-secondary text-sm">
                        <span class="pi pi-user"></span>
                        {{ item.nombre_cliente | uppercase }}</span
                      >
                      <div class="text-lg font-medium text-900 mt-2">
                        <span class="pi pi-file"></span>
                        {{ item.request_number }}
                      </div>
                    </div>
                    <div>
                      <span
                        ><span class="pi pi-calendar-plus"></span>
                        {{ item.created_date | date }}</span
                      >
                    </div>
                  </div>
                  <div class="flex flex-column md:align-items-end gap-5">
                    <span class="text-xl font-semibold text-900">
                      ${{ item.cantidad_prestada | number }}
                    </span>
                    <div class="flex flex-row-reverse md:flex-row gap-2">
                      <p-button
                        icon="pi pi-file-edit"
                        label="Revisar"
                        (click)="handleClick(item)" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
      <p-paginator
        class="paginator"
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="120"
        [rowsPerPageOptions]="[5, 20, 50]" />
    }
  </section>
  <p-dialog
    #dialogMessage
    header="Cargando información"
    [modal]="true"
    [(visible)]="showLoadingModal"
    closable="false"
    [style]="{ width: '16.46rem' }"
    class="text-center">
    @if (showLoadingModal) {
      <p-progressSpinner />
    }
  </p-dialog>
  <p-toast
    [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" />
</div>
