.filtro {
  position: absolute;
  top: 5rem;
  right: 1.5rem;
}

.width-maximo {
  max-width: 780px;
  margin: 0 auto;
}

.tarjeta {
  cursor: pointer;
}

.center {
  margin: 2rem auto;
}

.paginator {
  width: 100%;
  margin: 0 0.5rem;
}

.dataview {
  margin-bottom: 0;
}

.viewport {
  height: 84dvh;
  overflow: auto;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}

.scroll-container {
  height: 100%;
}

#card {
  height: 100%;
  background: #1f2937;
}
