<div
  class="grid py-3 pr-3 mr-1 row-gap-1 max-w-89vw md:max-w-55vw"
  [formGroup]="customerSearchForm">
  <div class="col-12 sm:col-6">
    <p-inputNumber
      placeholder="Código"
      inputId="ID"
      useGrouping="false"
      class="w-full"
      min="0"
      [style]="{ width: '100%' }"
      formControlName="id" />
  </div>
  <div class="col-12 sm:col-6">
    <input
      pInputText
      appUppercase
      placeholder="CURP"
      id="CURP"
      class="w-full"
      formControlName="curp" />
    <small id="curp_cliente-help" class="mb-2 text-red-500">
      @if (customerSearchForm.get('curp')?.errors?.['invalidCurp']) {
        <ng-container> Formato de CURP invalido</ng-container>
      }
    </small>
  </div>
  <div class="col-12 sm:col-6">
    <input
      pInputText
      appUppercase
      placeholder="Nombre"
      class="w-full"
      id="Nombre"
      formControlName="nombre" />
  </div>

  <div style="margin: 0 auto; margin-top: 10px">
    <button
      pButton
      [label]="'Buscar ' + searchOnTable()"
      icon="pi pi-search"
      type="submit"
      [loading]="loading()"
      [disabled]="loading()"
      (click)="search($event)"></button>
    <i
      class="pi pi-info-circle"
      style="font-size: 2rem; margin: auto 1rem"
      pTooltip="La jerarquia de busqueda tiene el siguiente orden: ID > CURP > Nombre, por ejemplo se si proporciona el ID y el Nombre se buscara por ID y se descarta buscar por Nombre, si se elimina el ID entonces la busqueda sera por Nombre"
      tooltipPosition="bottom"></i>
  </div>
  <div class="card col-12">
    @if (searchOnTable() === 'clientes') {
      @if (!clientesEncontrados().length) {
        <div style="text-align: center">No hay registros.</div>
      } @else {
        <p-table
          selectionMode="single"
          dataKey="id"
          (onRowSelect)="llenaCampos($event)"
          [value]="clientesEncontrados()"
          styleClass="p-datatable-striped"
          scrollHeight="flex">
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>CURP</th>
              <th>Ocupacion</th>
              <th>Email</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-cliente>
            <tr [pSelectableRow]="cliente" style="word-wrap: break-word">
              <td>{{ cliente.id_cliente }}</td>
              <td>{{ cliente.nombre_cliente }}</td>
              <td>{{ cliente.curp_cliente }}</td>
              <td>{{ cliente.ocupacion_cliente }}</td>
              <td>{{ cliente.correo_electronico_cliente }}</td>
            </tr>
          </ng-template>
        </p-table>
      }
    } @else {
      @if (!avalesEncontrados().length) {
        <div style="text-align: center">No hay registros.</div>
      } @else {
        <div class="overflow-auto col-12">
          <p-table
            selectionMode="single"
            dataKey="id"
            (onRowSelect)="emmitEndorsment($event)"
            [value]="avalesEncontrados()"
            styleClass="p-datatable-striped"
            scrollHeight="flex">
            <ng-template pTemplate="header">
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>CURP</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-aval>
              <tr [pSelectableRow]="aval" style="word-wrap: break-word">
                <td>{{ aval.id_aval }}</td>
                <td>{{ aval.nombre }}</td>
                <td>{{ aval.curp }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      }
    }
  </div>
</div>
<p-toast />
