@if (loading()) {
  <p>
    Buscando información
    <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
  </p>
} @else {
  @if (refinanceItems().length > 0) {
    <p>
      Prestamos refinanciables válidos del cliente
      <i class="pi pi-check" style="color: green"></i>
    </p>
    <p-dropdown
      class="inline-block w-full pr-4"
      inputId="plazo"
      id="plazo"
      formControlName="plazo"
      [options]="refinanceItems()"
      optionLabel="id_prestamo"
      (onChange)="onDropdownChange($event)"
      placeholder="Selecciona el folio a refinanciar"
      [style]="{ width: '100%' }" />
  } @else {
    <p>No se encontraron prestamos refinanciables válidos del cliente</p>
  }
}
