<body>
  <section class="menu">
    <nav>
      <picture>
        <img
          class="logo"
          ngSrc="../../assets/YOOX_transparente_nav.webp"
          alt="logo"
          height="64"
          width="96" />
      </picture>
      <section class="links">
        <a href="#download-section" class="contacto">Descargar</a>
        <button class="contacto" (click)="navigatetoLogin()">Acceder</button>
      </section>
    </nav>
  </section>
  <main class="main">
    <div class="main__carousel">
      <picture>
        <img
          ngSrc="../../assets/sample1.webp"
          alt="captura"
          height="214"
          width="360"
          priority />
      </picture>
      <picture>
        <img
          ngSrc="../../assets/sample2.webp"
          alt="captura"
          height="214"
          width="360" />
      </picture>
      <picture>
        <img
          ngSrc="../../assets/sample3.webp"
          alt="captura"
          height="214"
          width="360" />
      </picture>
      <picture>
        <img
          ngSrc="../../assets/YOOX_transparente.webp"
          alt="captura"
          height="240"
          width="360"
          priority />
      </picture>
    </div>
    <section class="main__description">
      <span>Descargar la última version de la aplicación</span>
      <div class="link-wrapper" id="download-section">
        <a
          href="https://www.mediafire.com/file/rbfcf19bk3oi6ys/InstaladorYOOX-Release_27-01-2024.msi/file"
          class="button"
          >Windows App</a
        >
        <a
          class="play-store-icon"
          href="https://play.google.com/store/apps/details?id=com.necronexus.sistemafinancieroapp&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
          ><img
            height="64px"
            width="165px"
            alt="Disponible en Google Play"
            src="../../assets/es_badge_web_generic.webp"
        /></a>
        o
        <a
          href="https://www.mediafire.com/file/6ih17k6o5d9h9sp/yoox-app.apk/file"
          class="button"
          >NUEVA APK</a
        >
      </div>
    </section>
  </main>
  <footer class="footer">Created with ❤ by Jonathan Rangel</footer>
</body>
