<form [formGroup]="mainForm" (ngSubmit)="onSubmit()">
  <p-stepper orientation="vertical" style="max-width: 720px; margin: 0 auto">
    <!-- inicio de Cantidades y plazos -->
    <p-stepperPanel header="Cantidades y plazos">
      <ng-template
        pTemplate="content"
        let-index="index"
        let-nextCallback="nextCallback">
        <p>Todos los campos son obligatorios</p>
        <div class="grid py-3 pr-2" style="margin-right: 0">
          <!-- inicio de cantidades y plazos -->
          <div class="col-12 sm:col-4 flex flex-column">
            <label for="cantidad_prestada">Cantidad a prestar</label>
            <p-inputNumber
              inputId="cantidad_prestada"
              formControlName="cantidad_prestada"
              placeholder="Cantidad"
              mode="currency"
              currency="MXN"
              locale="es-MX"
              maxFractionDigits="0"
              showClear="true"
              [style]="{ width: '100%' }"
              [inputStyle]="{ width: '100%' }"
              (onInput)="onInputCantidad($event)" />
            <small
              id="cantidad-help"
              class="mb-2 text-red-500"
              [hidden]="esCampoOculto('cantidad_prestada')">
              <ng-container
                *ngIf="mainForm.get('cantidad_prestada')?.errors?.['required']">
                Cantidad requerida</ng-container
              >
              <ng-container
                *ngIf="mainForm.get('cantidad_prestada')?.errors?.['min']">
                Cantidad minima de 1000</ng-container
              >
            </small>
          </div>
          <div class="col-12 sm:col-4 flex flex-column">
            <label for="plazos">Plazo</label>
            <p-dropdown
              inputId="plazos"
              id="plazos"
              formControlName="plazos"
              [options]="plazo"
              optionLabel="name"
              (onChange)="onPlazoChanged($event)"
              placeholder="Plazo de semanas"
              [style]="{ width: '100%' }" />
            <small
              id="plazos-help"
              class="mb-2 text-red-500"
              [hidden]="esCampoOculto('plazos')"
              >Selecciona un plazo</small
            >
          </div>
          <div class="col-12 sm:col-4 flex flex-column">
            <label for="fecha_inicial">Fecha inicial</label>
            <p-calendar
              inputId="fecha_inicial"
              formControlName="fecha_inicial"
              placeholder="dd/mm/aaaa"
              [iconDisplay]="'input'"
              [showIcon]="true"
              [showButtonBar]="true"
              (onSelect)="calculaDiaDeLaSemana($event)"
              dateFormat="dd/mm/yy"
              readonlyInput="true"
              [minDate]="fechaMinima"
              [style]="{ width: '100%' }" />
            <small
              id="fecha_inicial-help"
              class="mb-2 text-red-500"
              [hidden]="esCampoOculto('fecha_inicial')"
              >Fecha Inicial requerida</small
            >
          </div>

          <!-- inicio valores calculados -->
          <p-inputGroup [style]="{ width: '99%' }">
            <p-inputGroupAddon>
              <i class="pi pi-money-bill"></i>
              <span> Cada semana se pagarian:</span>
            </p-inputGroupAddon>
            <input
              pInputText
              disabled="true"
              id="cantidadSemanal"
              placeholder="Cantidad semanal"
              style="color: green; font-weight: bold"
              [value]="pagoSemanal" />
          </p-inputGroup>
          <p-inputGroup [style]="{ width: '99%' }">
            <p-inputGroupAddon>
              <i class="pi pi-percentage"></i>
              <span> Tasa de interes:</span>
            </p-inputGroupAddon>
            <input
              disabled="true"
              pInputText
              id="tasaDeInteres"
              placeholder="Tasa de interes"
              [value]="tasa_interes" />
          </p-inputGroup>
          <p-inputGroup [style]="{ width: '99%' }">
            <p-inputGroupAddon>
              <i class="pi pi-wallet"></i>
              <span> Total a pagar:</span>
            </p-inputGroupAddon>
            <input
              pInputText
              disabled="true"
              id="cantidadTotal"
              placeholder="Cantidad total a pagar"
              style="color: green; font-weight: bold"
              [value]="cantidad_pagar" />
          </p-inputGroup>
          <p-inputGroup [style]="{ width: '99%' }">
            <p-inputGroupAddon>
              <i class="pi pi-receipt"></i>
              <span> Pagaria los dias:</span>
            </p-inputGroupAddon>
            <input
              pInputText
              disabled="true"
              id="dia_semana"
              placeholder="Dia de la semana que se abona"
              [value]="dia_semana" />
          </p-inputGroup>
          <p-inputGroup [style]="{ width: '99%' }">
            <p-inputGroupAddon>
              <i class="pi pi-calendar-clock"></i>
              <span> Fecha final estimada:</span>
            </p-inputGroupAddon>
            <input
              type="text"
              pInputText
              id="fecha_final_estimada"
              placeholder="Fecha final estimada"
              disabled="true"
              [value]="fecha_final_estimada" />
          </p-inputGroup>
          <!-- final de valores calculados -->
        </div>
        <div class="flex justify-content-end pb-4 gap-2 pr-3">
          <p-button
            label="Siguiente"
            icon="pi pi-angle-double-right"
            iconPos="right"
            (onClick)="nextCallback.emit()" />
        </div>
      </ng-template>
    </p-stepperPanel>
    <!-- fin de Cantidades y plazos -->

    <!-- inicio de Datos del ciente -->
    <p-stepperPanel header="Datos del cliente">
      <ng-template
        pTemplate="content"
        let-prevCallback="prevCallback"
        let-nextCallback="nextCallback"
        let-index="index">
        <div formGroupName="formCliente" class="grid py-3 pr-3">
          <div class="col-12 sm:col-6 flex flex-column">
            <label for="nombre_cliente">Nombre cliente</label>
            <input
              formControlName="nombre_cliente"
              pInputText
              id="nombre_cliente"
              aria-describedby="nombre_cliente-help" />
            <small
              class="mb-2 text-red-500"
              id="nombre_cliente-help"
              [hidden]="esCampoOculto('formCliente.nombre_cliente')"
              >Nombre de cliente requerido</small
            >
          </div>
          <div class="col-12 sm:col-6 flex flex-column">
            <label for="apellido_paterno_cliente">Apellido paterno</label>
            <input
              formControlName="apellido_paterno_cliente"
              pInputText
              id="apellido_paterno_cliente"
              aria-describedby="apellido_paterno_cliente-help" />
            <small
              class="mb-2 text-red-500"
              id="apellido_paterno_cliente-help"
              [hidden]="esCampoOculto('formCliente.apellido_paterno_cliente')"
              >Apellido paterno requerido</small
            >
          </div>
          <div class="col-12 sm:col-6 flex flex-column">
            <label for="apellido_materno_cliente">Apellido materno</label>
            <input
              formControlName="apellido_materno_cliente"
              pInputText
              id="apellido_materno_cliente"
              aria-describedby="apellido_materno_cliente-help" />
            <small
              id="apellido_materno_cliente-help"
              class="mb-2 text-red-500"
              [hidden]="esCampoOculto('formCliente.apellido_materno_cliente')"
              >Apellido materno requerido</small
            >
          </div>
          <div class="col-12 sm:col-6 flex flex-column">
            <label for="telefono_fijo_cliente">Telefono fijo</label>
            <p-inputMask
              formControlName="telefono_fijo_cliente"
              inputId="telefono_fijo_cliente"
              mask="999-999-9999"
              unmask="true"
              showClear="true"
              [autoClear]="false"
              placeholder="999-999-9999"
              [style]="{ width: '100%' }" />
            <small
              id="telefono_fijo_cliente-help"
              class="mb-2 text-red-500"
              [hidden]="esCampoOculto('formCliente.telefono_fijo_cliente')"
              >Telefono fijo requerido</small
            >
          </div>
          <div class="col-12 sm:col-6 flex flex-column">
            <label for="telefono_movil_cliente">Telefono movil</label>
            <p-inputMask
              formControlName="telefono_movil_cliente"
              inputId="telefono_movil_cliente"
              mask="999-999-9999"
              unmask="true"
              showClear="true"
              [autoClear]="false"
              placeholder="999-999-9999"
              [style]="{ width: '100%' }" />
            <small
              id="telefono_movil_cliente-help"
              class="mb-2 text-red-500"
              [hidden]="esCampoOculto('formCliente.telefono_movil_cliente')"
              >Telefono movil Requerido</small
            >
          </div>
          <div class="col-12 sm:col-6 flex flex-column">
            <label for="emailCliente">Correo electronico</label>
            <input
              pInputText
              formControlName="correo_electronico_cliente"
              id="emailCliente"
              aria-describedby="emailCliente-help" />
            <small
              id="correo_electronico_cliente-help"
              class="mb-2 text-red-500"
              [hidden]="esCampoOculto('formCliente.correo_electronico_cliente')"
              ><ng-container
                *ngIf="
                  mainForm.get('correo_electronico_cliente')?.errors?.[
                    'required'
                  ]
                ">
                Correo electronico requerido</ng-container
              >
              <ng-container
                *ngIf="
                  mainForm.get('correo_electronico_cliente')?.errors?.[
                    'invalidEmail'
                  ]
                ">
                Formato de correo invalido</ng-container
              ></small
            >
          </div>
          <div class="col-12 sm:col-6 flex flex-column">
            <label for="ocupacion_cliente">Ocupacion</label>
            <input
              pInputText
              formControlName="ocupacion_cliente"
              id="ocupacion_cliente"
              aria-describedby="ocupacion_cliente-help" />
            <small id="ocupacion_cliente-help" [hidden]="true">ocupacion</small>
          </div>
          <div class="col-12 sm:col-6 flex flex-column">
            <label for="curp_cliente">CURP</label>
            <p-inputMask
              mask="aaaa-999999-aaaaaa-99"
              inputId="curp_cliente"
              unmask="true"
              showClear="true"
              formControlName="curp_cliente"
              placeholder="0000-000000-000000-00"
              [style]="{ width: '100%' }" />
            <small
              id="curp_cliente-help"
              class="mb-2 text-red-500"
              [hidden]="esCampoOculto('formCliente.curp_cliente')"
              ><ng-container
                *ngIf="mainForm.get('curp_cliente')?.errors?.['required']">
                CURP requerido</ng-container
              >
              <ng-container
                *ngIf="mainForm.get('curp_cliente')?.errors?.['invalidCurp']">
                Formato de CURP invalido</ng-container
              >
            </small>
          </div>
          <div class="col-12 sm:col-6 flex flex-column">
            <label for="tipo_calle_cliente">Tipo de calle</label>
            <p-dropdown
              inputId="tipo_calle_cliente"
              id="tipo_calle_cliente"
              formControlName="tipo_calle_cliente"
              [options]="tiposCalle"
              optionLabel="name"
              [showClear]="true"
              placeholder="Selecciona el tipo de calle"
              [style]="{ width: '100%' }" />
            <small
              id="tipo_calle_cliente-help"
              class="mb-2 text-red-500"
              [hidden]="esCampoOculto('formCliente.tipo_calle_cliente')"
              >Selecciona un tipo de calle</small
            >
          </div>
          <div class="col-12 sm:col-6 flex flex-column">
            <label for="nombre_calle_cliente">Nombre de la calle</label>
            <input
              pInputText
              formControlName="nombre_calle_cliente"
              id="nombre_calle_cliente"
              aria-describedby="nombre_calle_cliente-help" />
            <small
              id="nombre_calle_cliente-help"
              class="mb-2 text-red-500"
              [hidden]="esCampoOculto('formCliente.nombre_calle_cliente')"
              >Nombre de calle es requerido</small
            >
          </div>
          <div class="col-12 sm:col-6 flex flex-column">
            <label for="numero_exterior_cliente">Número Exterior</label>
            <input
              pInputText
              formControlName="numero_exterior_cliente"
              id="numero_exterior_cliente"
              pKeyFilter="int"
              aria-describedby="numero_exterior_cliente-help" />
            <small
              id="numero_exterior_cliente-help"
              class="mb-2 text-red-500"
              [hidden]="esCampoOculto('formCliente.numero_exterior_cliente')"
              >El numero de exterior es requerido</small
            >
          </div>
          <div class="col-12 sm:col-6 flex flex-column">
            <label for="numero_interior_cliente">Número Interior</label>
            <input
              pInputText
              formControlName="numero_interior_cliente"
              id="numero_interior_cliente"
              pKeyFilter="int"
              aria-describedby="numero_interior_cliente-help" />
          </div>
          <div class="col-12 sm:col-6 flex flex-column">
            <label for="colonia_cliente">Colonia</label>
            <input
              pInputText
              id="colonia_cliente"
              aria-describedby="colonia_cliente-help"
              formControlName="colonia_cliente" />
            <small
              id="colonia_cliente-help"
              class="mb-2 text-red-500"
              [hidden]="esCampoOculto('formCliente.colonia_cliente')"
              >La colonia es requerida</small
            >
          </div>
          <div class="col-12 sm:col-6 flex flex-column">
            <label for="municipio_cliente">Municipio</label>
            <input
              pInputText
              formControlName="municipio_cliente"
              id="municipio_cliente"
              aria-describedby="municipio_cliente-help" />
            <small
              id="municipio_cliente-help"
              class="mb-2 text-red-500"
              [hidden]="esCampoOculto('formCliente.municipio_cliente')"
              >Municipio Requerido</small
            >
          </div>
          <div class="col-12 sm:col-6 flex flex-column">
            <label for="estado_cliente">Entidad Federativa</label>
            <p-dropdown
              [options]="estadosDeLaRepublica"
              inputId="estado_cliente"
              id="estado_cliente"
              emptyFilterMessage="Sin resultados"
              formControlName="estado_cliente"
              optionLabel="name"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              placeholder="Selecciona un estado"
              [style]="{ width: '100%' }" />
            <small
              id="estado_cliente-help"
              class="mb-2 text-red-500"
              [hidden]="esCampoOculto('formCliente.estado_cliente')"
              >El estado es requerido</small
            >
          </div>
          <div class="col-12 sm:col-6 flex flex-column">
            <label for="cp_cliente">Código postal</label>
            <input
              pInputText
              formControlName="cp_cliente"
              id="cp_cliente"
              pKeyFilter="int"
              aria-describedby="cp_cliente-help" />
            <small
              id="cp_cliente-help"
              class="mb-2 text-red-500"
              [hidden]="esCampoOculto('formCliente.cp_cliente')"
              ><ng-container
                *ngIf="mainForm.get('cp_cliente')?.errors?.['required']">
                Código postal requerido</ng-container
              >
              <ng-container
                *ngIf="mainForm.get('cp_cliente')?.errors?.['lenghtNotMatch']">
                El número debe de tener 5 digitos</ng-container
              ></small
            >
          </div>
          <div class="col-12 flex flex-column gap-2">
            <label for="observaciones_cliente">Observaciones adicionales</label>
            <textarea
              formControlName="observaciones_cliente"
              rows="5"
              cols="30"
              autoResize="true"
              pInputTextarea
              id="observaciones_cliente">
            </textarea>
          </div>
        </div>
        <div class="flex justify-content-between pb-4 gap-2 pr-3">
          <p-button
            label="Paso anterior"
            icon="pi pi-angle-double-left"
            severity="secondary"
            (onClick)="prevCallback.emit()" />
          <p-button
            label="Siguiente"
            icon="pi pi-angle-double-right"
            iconPos="right"
            (onClick)="nextCallback.emit()" />
        </div>
      </ng-template>
    </p-stepperPanel>
    <!-- final de Datos del ciente -->

    <!-- inicio camposAval -->
    <p-stepperPanel header="Datos de aval">
      <ng-template
        pTemplate="content"
        let-prevCallback="prevCallback"
        let-nextCallback="nextCallback"
        let-index="index">
        <div class="flex justify-content-center align-items-center pr-3">
          <p>¿Necesitas capturar datos de aval?</p>
          <p-inputSwitch
            inputId="habilitarCamposAval"
            class="ml-3"
            (onChange)="toggleFormAval($event)" />
        </div>
        <div *ngIf="camposAval$ | async" class="flex flex-column">
          <div formGroupName="formAval" class="grid py-3 pr-3">
            <div class="col-12 sm:col-6 flex flex-column">
              <label for="nombreAval">Nombre aval</label>
              <input
                formControlName="nombreAval"
                pInputText
                id="nombreAval"
                aria-describedby="nombreAval-help" />
              <small
                class="mb-2 text-red-500"
                id="nombreAval-help"
                [hidden]="esCampoOculto('formAval.nombreAval')"
                >Nombre de aval requerido</small
              >
            </div>
            <div class="col-12 sm:col-6 flex flex-column">
              <label for="apellidoPaternoAval">Apellido paterno aval</label>
              <input
                formControlName="apellidoPaternoAval"
                pInputText
                id="apellidoPaternoAval"
                aria-describedby="apellidoPaternoAval-help" />
              <small
                class="mb-2 text-red-500"
                id="apellidoPaternoAval-help"
                [hidden]="esCampoOculto('formAval.apellidoPaternoAval')"
                >Apellido paterno del aval requerido</small
              >
            </div>
            <div class="col-12 sm:col-6 flex flex-column">
              <label for="apellidoMaternoAval">Apellido materno aval</label>
              <input
                formControlName="apellidoMaternoAval"
                pInputText
                id="apellidoMaternoAval"
                aria-describedby="apellidoMaternoAval-help" />
              <small
                id="apellidoMaternoAval-help"
                class="mb-2 text-red-500"
                [hidden]="esCampoOculto('formAval.apellidoMaternoAval')"
                >Apellido materno del aval requerido</small
              >
            </div>
            <div class="col-12 sm:col-6 flex flex-column">
              <label for="telefonoFijoAval">Telefono fijo</label>
              <p-inputMask
                formControlName="telefonoFijoAval"
                inputId="telefonoFijoAval"
                mask="999-999-9999"
                unmask="true"
                showClear="true"
                [autoClear]="false"
                placeholder="999-999-9999"
                [style]="{ width: '100%' }" />
              <small
                id="telefonoFijoAval-help"
                class="mb-2 text-red-500"
                [hidden]="esCampoOculto('formAval.telefonoFijoAval')"
                >Telefono fijo de aval requerido</small
              >
            </div>
            <div class="col-12 sm:col-6 flex flex-column">
              <label for="telefonoMovilAval">Telefono movil</label>
              <p-inputMask
                formControlName="telefonoMovilAval"
                inputId="telefonoMovilAval"
                mask="999-999-9999"
                minlength="10"
                unmask="true"
                showClear="true"
                [autoClear]="false"
                placeholder="999-999-9999"
                [style]="{ width: '100%' }" />
              <small
                id="telefonoMovilAval-help"
                class="mb-2 text-red-500"
                [hidden]="esCampoOculto('formAval.telefonoMovilAval')"
                >Telefono movil de aval requerido</small
              >
            </div>
            <div class="col-12 sm:col-6 flex flex-column">
              <label for="emailAval">Correo electronico</label>
              <input
                pInputText
                formControlName="emailAval"
                id="emailAval"
                aria-describedby="emailAval-help" />
              <small
                id="emailAval-help"
                class="mb-2 text-red-500"
                [hidden]="esCampoOculto('formAval.emailAval')"
                ><ng-container
                  *ngIf="
                    mainForm.get('formAval.emailAval')?.errors?.['required']
                  ">
                  Correo electronico requerido</ng-container
                >
                <ng-container
                  *ngIf="
                    mainForm.get('formAval.emailAval')?.errors?.['invalidEmail']
                  ">
                  Formato de correo invalido</ng-container
                ></small
              >
            </div>
            <div class="col-12 sm:col-6 flex flex-column">
              <label for="ocupacionAval">Ocupacion</label>
              <input
                pInputText
                formControlName="ocupacionAval"
                id="ocupacionAval"
                aria-describedby="ocupacionAval-help" />
              <small id="ocupacionAval-help" [hidden]="true">ocupacion</small>
            </div>
            <div class="col-12 sm:col-6 flex flex-column">
              <label for="curpAval">CURP</label>
              <p-inputMask
                mask="aaaa-999999-aaaaaa-99"
                inputId="curpAval"
                unmask="true"
                showClear="true"
                formControlName="curpAval"
                placeholder="0000-000000-000000-00"
                [style]="{ width: '100%' }" />
              <small
                id="curpAval-help"
                class="mb-2 text-red-500"
                [hidden]="esCampoOculto('formAval.curpAval')"
                ><ng-container
                  *ngIf="
                    mainForm.get('formAval.curpAval')?.errors?.['required']
                  ">
                  CURP de aval requerido</ng-container
                >
                <ng-container
                  *ngIf="
                    mainForm.get('formAval.curpAval')?.errors?.['invalidCurp']
                  ">
                  Formato de CURP invalido</ng-container
                >
              </small>
            </div>
            <div class="col-12 sm:col-6 flex flex-column">
              <label for="tipoCalleAval">Tipo de calle</label>
              <p-dropdown
                inputId="tipoCalleAval"
                id="tipoCalleAval"
                formControlName="tipoCalleAval"
                [options]="tiposCalle"
                optionLabel="name"
                [showClear]="true"
                placeholder="Selecciona el tipo de calle"
                [style]="{ width: '100%' }" />
              <small
                id="tipoAval-help"
                class="mb-2 text-red-500"
                [hidden]="esCampoOculto('formAval.tipoCalleAval')"
                >Selecciona un tipo de calle</small
              >
            </div>
            <div class="col-12 sm:col-6 flex flex-column">
              <label for="nombreCalleAval">Nombre de la calle</label>
              <input
                pInputText
                formControlName="nombreCalleAval"
                id="nombreCalleAval"
                aria-describedby="nombreCalleAval-help" />
              <small
                id="nombreCalleAval-help"
                class="mb-2 text-red-500"
                [hidden]="esCampoOculto('formAval.nombreCalleAval')"
                >Nombre de calle es requerido</small
              >
            </div>
            <div class="col-12 sm:col-6 flex flex-column">
              <label for="numeroExteriorAval">Número Exterior</label>
              <p-inputNumber
                formControlName="numeroExteriorAval"
                showClear="true"
                [style]="{ width: '100%' }"
                [inputStyle]="{ width: '100%' }"
                inputId="numeroExteriorAval"
                aria-describedby="numeroExteriorAval-help" />
              <small
                id="numeroExteriorAval-help"
                class="mb-2 text-red-500"
                [hidden]="esCampoOculto('formAval.numeroExteriorAval')"
                >El numero de exterior es requerido</small
              >
            </div>
            <div class="col-12 sm:col-6 flex flex-column">
              <label for="numeroInterior">Número Interior</label>
              <p-inputNumber
                inputId="numeroInteriorAval"
                formControlName="numeroInteriorAval"
                showClear="true"
                [style]="{ width: '100%' }"
                [inputStyle]="{ width: '100%' }"
                aria-describedby="numeroInterior-help" />
              <small id="numeroInterior-help" [hidden]="true"
                >placeholder</small
              >
            </div>
            <div class="col-12 sm:col-6 flex flex-column">
              <label for="coloniaAval">Colonia</label>
              <input
                pInputText
                id="coloniaAval"
                aria-describedby="coloniaAval-help"
                formControlName="coloniaAval" />
              <small
                id="coloniaAval-help"
                class="mb-2 text-red-500"
                [hidden]="esCampoOculto('formAval.coloniaAval')"
                >La colonia es requerida</small
              >
            </div>
            <div class="col-12 sm:col-6 flex flex-column">
              <label for="municipioAval">Municipio</label>
              <input
                pInputText
                formControlName="municipioAval"
                id="municipioAval"
                aria-describedby="municipioAval-help" />
              <small
                id="municipioAval-help"
                class="mb-2 text-red-500"
                [hidden]="esCampoOculto('formAval.municipioAval')"
                >Municipio Requerido</small
              >
            </div>
            <div class="col-12 sm:col-6 flex flex-column">
              <label for="estadoAval">Entidad Federativa</label>
              <p-dropdown
                [options]="estadosDeLaRepublica"
                inputId="estadoAval"
                id="estadoAval"
                emptyFilterMessage="Sin resultados"
                formControlName="estadoAval"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="Selecciona un estado"
                [style]="{ width: '100%' }" />
              <small
                id="estadoAval-help"
                class="mb-2 text-red-500"
                [hidden]="esCampoOculto('formAval.estadoAval')"
                >El estado es requerido</small
              >
            </div>
            <div class="col-12 sm:col-6 flex flex-column">
              <label for="codigoPostalAval">Código postal</label>
              <p-inputNumber
                inputId="codigoPostalAval"
                formControlName="codigoPostalAval"
                autoClear="false"
                showClear="true"
                useGrouping="false"
                placeholder="99999"
                [maxlength]="5"
                [style]="{ width: '100%' }" />
              <small
                id="codigoPostalAval-help"
                class="mb-2 text-red-500"
                [hidden]="esCampoOculto('formAval.codigoPostalAval')"
                ><ng-container
                  *ngIf="
                    mainForm.get('formAval.codigoPostalAval')?.errors?.[
                      'required'
                    ]
                  ">
                  Código postal requerido</ng-container
                >
                <ng-container
                  *ngIf="
                    mainForm.get('formAval.codigoPostalAval')?.errors?.[
                      'lenghtNotMatch'
                    ]
                  ">
                  El número debe de tener 5 digitos</ng-container
                ></small
              >
            </div>
            <div class="col-12 flex flex-column gap-2">
              <label for="observacionesAval">Observaciones adicionales</label>
              <textarea
                formControlName="observacionesAval"
                rows="5"
                cols="30"
                autoResize="true"
                pInputTextarea
                id="observacionesAval">
              </textarea>
            </div>
          </div>
        </div>
        <div class="flex justify-content-between pb-4 gap-2 pr-3">
          <p-button
            label="Paso anterior"
            icon="pi pi-angle-double-left"
            severity="secondary"
            (onClick)="prevCallback.emit()" />
          <p-button
            label="Siguiente"
            icon="pi pi-angle-double-right"
            iconPos="right"
            (onClick)="nextCallback.emit()" />
        </div>
      </ng-template>
    </p-stepperPanel>
    <!-- fin de camposAval -->

    <!-- inicio Documentación -->
    <p-stepperPanel header="Documentación">
      <ng-template
        pTemplate="content"
        let-prevCallback="prevCallback"
        let-class="pl-0"
        let-index="index">
        <div class="flex flex-column mr-3 pt-3">
          <p-fileUpload
            #fileUpload
            customUpload="true"
            (uploadHandler)="onUpload($event)"
            showUploadButton="false"
            chooseLabel="Agregar"
            uploadLabel="Subir"
            mode="advanced"
            cancelLabel="Limpiar"
            maxFileSize="10485760"
            invalidFileLimitMessageDetail="Limite de {0} como máximo"
            invalidFileLimitMessageSummary="Limite de archivos exedido"
            invalidFileSizeMessageDetail="Máximo permitido es de {0}"
            invalidFileSizeMessageSummary="Tamaño excedido"
            fileLimit="5"
            multiple="true" />
        </div>
        <div class="flex justify-content-between py-4 gap-2 pr-3">
          <p-button
            label="Paso anterior"
            icon="pi pi-angle-double-left"
            severity="secondary"
            (onClick)="prevCallback.emit()" />
          <p-button
            type="submit"
            label="Enviar"
            icon="pi pi-cloud-upload"
            iconPos="right" />
        </div>
      </ng-template>
    </p-stepperPanel>
    <!-- fin Documentación -->
  </p-stepper>

  <p-toast
    [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" />
  <p-confirmDialog
    key="positionDialog"
    [position]="position"
    rejectButtonStyleClass="p-button-outlined" />
</form>
<pre>{{ mainForm.value | json }}</pre>
